 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    background: #ff0;
    max-width: 100vh;

 }


 .banner {
    position: relative;
    width: 100%;
    max-height: 100vh;

 }

 .banner .imgBx {
    position: absolute;
    width: 1903px;
    height: 1080px;
    left: 0px;
    top: 0px;

 }

 .banner .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s;

 }

 .banner .imgBx img.active {
    opacity: 1;
 }

 .controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 67%;
 }

 .controls li {
    position: relative;
    width: 80px;
    height: 80px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    left: 1512px;
    top: 1000px;


 }

 .controls li.left {
      left: -310px;
      top: 1080px; 
 }

 .controls li:hover {
    background-color: rgba(255, 255, 0, 0.055);
 }

 .controls li:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg);
 }

 .controls li:nth-child(2):before {
    transform: rotate(225deg);
 }

 .contentBx {
    position: absolute;
    max-width: 700px;

 }

 .contentBx div {
    display: none;
 }

 .contentBx div.active {
    display: block;
    width: 527px;
    height: 386px;
    margin-left: 88px;
    margin-top: 347px;
    margin-bottom: 347px;
 }

 .contentBx div p {
    font-family: 'Roboto';
    font-style: normal;
    width: 515px;
    height: 90px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 65px;
    margin-bottom: 39px;
 }

 .contentBx div h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-left: 12px;
    margin-top: 347px;

 }

 .contentBx div h1 {
    font-family: 'Viga';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 128px;
    color: #fff;
    margin-top: 1px;
    width: 420px;
    height: 128px;
 }

 .contentBx div a {
    width: 169px;
    height: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 8px;
    text-decoration: #FFFFFF;
 }

 .contentBx div img.elipse {
    width: 10px;
    height: 10px;
    left: 100px;
    top: 712px;

 }
